<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>automove.outlook.mycomputer</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/osascript</string>
		<string>/Users/z0027zp/Documents/Scripts/Outlook/AutoMoveToMyComputer.scpt</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
    <string>/Users/Shared/log/automove.log</string>
	<key>StandardOutPath</key>
    <string>/Users/Shared/log/automove.log</string>
	<key>StartInterval</key>
	<integer>3621</integer>
</dict>
</plist>
